Repository dotcomscripts/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack

fix(arc): change out runner image
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(arc): temp undeploy
  kubernetes/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes

fix(arc): redeploy
  kubernetes/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes

fix(snapshot-controller): enable distributed snapshotting
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v40.2.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore(container): update image ghcr.io/esanchezm/prometheus-qbittorrent-exporter to c04698e
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.4.8328
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.1.4146
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.14
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.5.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.13.3
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.11
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update flux group to v2.2.0
  .github/workflows/helmrepository-sync.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/github, area/kubernetes

fix(container): update image ghcr.io/autobrr/autobrr to v1.34.1
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.54
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update alert to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/notifications/alertmanager/alert.yaml
  kubernetes/apps/flux-system/addons/notifications/github/alert.yaml
Labels: area/kubernetes

chore(deps): update provider to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/notifications/alertmanager/provider.yaml
  kubernetes/apps/flux-system/addons/notifications/github/provider.yaml
Labels: area/kubernetes

feat(github-release): update kubernetes/kubernetes to v1.29.0
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart external-secrets to 0.9.10
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v40.2.3
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(chore): update talosconfig
  talos/talconfig.yaml
Labels: none

fix(kubernetes): random tasks
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes

fix(arc): version
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): update hr sync
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.12
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.12.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.2.4160
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.5.8361
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.738
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/unpoller/unpoller to v2.9.5
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.2.2
  .github/workflows/helmrepository-sync.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/github, area/kubernetes

fix(helm): update chart cilium to 1.14.5
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.19
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/angelnu/cni-plugins to v1.4.0
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/buroa/qbittools to v0.11.0
  kubernetes/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/plex-beta to v1.40.0.7775-456fbaf97
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
